html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.links {
    display: flex;
    align-content: space-around;
}

.links a {
    display: block;
    margin: 0px 10px 0px 0px;
}

#mainlinks {
    justify-content: center;
}

#mainlinks a {
    font-size: 1.15em;
}

.section {
    margin: 0% 10%;
}

.section p {
    text-align: justify;
}